.lavaLampWithImage li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 14px arial;
    height: 30px;
    letter-spacing: 0;
    margin: auto 10px;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 7px;
    z-index: 10;
}/* Styles for the entire LavaLamp menu */
.lavaLampWithImage {
    background: url("llimage/bg.gif") no-repeat scroll center top transparent;
    height: 29px;
    left: 60px;
    margin: 10px 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 421px;
}
.lavaLampWithImage li.back {
    background: url("llimage/lava.gif") no-repeat scroll right -30px transparent;
    height: 30px;
    position: absolute;
    width: 9px;
    z-index: 8;
}

.lavaLampWithImage li {
    float: left;
    list-style: none outside none;
}
.lavaLampWithImage li {
    list-style: none outside none;
}
.lavaLampWithImage {
    position: relative;
    height: 29px; width: 421px;
    background: url("llimage/bg.gif") no-repeat top;
    padding: 15px; margin: 10px 0;
    overflow: hidden;
}
.primaryContent ul {
    margin-bottom: 10px;
    margin-left: 25px;
}
    /* Force the list to flow horizontally */
    .lavaLampWithImage li {
        float: left;
        list-style: none;
    }
        /* Represents the background of the highlighted menu-item. */
        .lavaLampWithImage li.back {
            background: url("llimage/lava.gif") no-repeat right -30px;
            width: 9px; height: 30px;
            z-index: 8;
            position: absolute;
        }
            .lavaLampWithImage li.back .left {
                background: url("llimage/lava.gif") no-repeat top left;
                height: 30px;
                margin-right: 9px;
            }
        /* Styles for each menu-item. */
        .lavaLampWithImage li a {
            position: relative; overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            font: bold 14px arial;
            color: #fff; outline: none;
            text-align: center;
            height: 30px; top: 7px;
            z-index: 10; letter-spacing: 0;
            float: left; display: block;
            margin: auto 10px;
        }